@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .custom-grid {
        grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem), 1fr))
    }
    .auto-margin {
        margin: 2rem auto;
    }
    .max-height {
        max-height: 300px;
    }
}